<p>
  report-users works!
</p>
<p>  כמות מורים/ות</p>
{{numTeacher}}
<p> כמות תלמידים:</p>
{{numStudent}}
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#"> כמות מורים/ות</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"> כמות תלמידים:</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{numTeacher}}</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>