
<!-- <app-create-data-question></app-create-data-question> -->
<label>השאלה</label>
<input type="text" placeholder="הכנס שאלתך כאן"[(ngModel)]="question.questionDescription">
<br>
<label>תשובות אפשריות :</label>
<br>
<input type="text"  placeholder="הכנס תשובה אפשרית "[(ngModel)]="question.Answers[0].answerDescription" ><input  type="radio" id="radio1"  name="radioButton"><br><!-- [(ngModel)]="question.Answers[0].isCorrect" -->
<input type="text"  placeholder="הכנס תשובה אפשרית " [(ngModel)]="question.Answers[1].answerDescription"><input type="radio" id="radio2"  name="radioButton"><br>
<input type="text"  placeholder="הכנס תשובה אפשרית "[(ngModel)]="question.Answers[2].answerDescription" ><input type="radio"id="radio3"  name="radioButton">
<br>
<label><span style="color: red">*</span> בחר קטגוריה</label>
<br>
<select  [(ngModel)]="question.categoryId">
  <option *ngFor="let item of categories" [ngValue]="item.categoryId">{{item.categoryName}}</option>
</select>
<br>
<input type="button" (click)="addNewQuestion()" value="הוסף למאגר">

<mark>vghfvgh</mark>